/* styles.css */

body {
    background-color: #C7E9FF; /* Lighter blue */
    color: black; /* Change text color to black */
    font-family: Arial, sans-serif;
    text-align: center; /* Center-align text */
  }
  
  h1 {
    color: black; /* Change header color to black */
    font-size: 28px; /* Increase font size for h1 */
  }
  
  h2, h3 {
    color: black; /* Change header color to black */
    font-size: 24px; /* Increase font size for h2 and h3 */
    border-bottom: 1px solid black;
  }
  
  a {
    color: black; /* Change link color to black */
    text-decoration: none;
  }
  
  p {
    margin-bottom: 15px; /* Increase margin for paragraphs */
    font-size: 18px; /* Increase font size for paragraphs */
  }
  
  img {
    vertical-align: middle;
  }
  