.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-slide {
  flex: 0 0 auto;
  margin-right: 20px;
  scroll-snap-align: start;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  width: 300px; /* Adjust width as needed */
}

.carousel-slide h3 {
  margin-top: 0;
}

.carousel-slide p {
  margin-bottom: 5px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-img {
  width: 100%; /* Ensure the background image fills the entire slide */
  height: 100%; /* Ensure the background image fills the entire slide */
  background-size: cover; /* Ensure the background image covers the entire slide */
  background-position: center; /* Center the background image */
}
